@import "~vue-json-viewer/style.css";
@import "~bootstrap/scss/functions";
@import "variables";
@import "~bootstrap/scss/bootstrap";

body{
    overflow-y: scroll;
    background: $gray-200;
}
.body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
w-100{
    width: 100%;
}
h-100{
    height: 100%;
}
.pointer{
    cursor:pointer;
}
.main-container{
    flex: 1 1 auto;
    .nav-item{
        .nav-link{
            color: $gray-700;
            transition: margin-left .2s ease-in-out;
            &:hover{
                margin-left: 8px;
            }
            &.active{
                color: $green;
            }
        }
    }
    .main-container__body{
        min-height: 100%;
    }
}

.card, .form-control, .jsoneditor{
    border: none !important;
}
$shadowSmall: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$shadowSmallAlter: rgba(50, 50, 93, 0.25) 0px 0px 7px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
.form-control, .jsoneditor{
    transition: box-shadow .2s ease-in-out;
    box-shadow: $shadowSmall;
    &:focus{
        box-shadow: $shadowSmallAlter;
    }
}
.btn{
    transition: box-shadow .2s ease-in-out;
    box-shadow: $shadowSmall;
    &:hover{
        box-shadow: $shadowSmallAlter;
    }
}
.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.jsoneditor{
    @extend .form-control;
}
.jsoneditor-modes, .jsoneditor-poweredBy{
    display: none;
}
