<template>
    <div class="body">
        <header class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li v-if="doc && doc.length" class="nav-item">
                        <a
                            class="nav-link"
                            aria-current="page"
                            href="#"
                            @click="setRoutes('apidoc')"
                            :class="{'active': version === 'apidoc'}"
                        >Apidoac</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            aria-current="page"
                            href="#"
                            @click="setRoutes('models')"
                            :class="{'active': version === 'models'}"
                        >Models</a>
                    </li>
                    <template v-for="api in apidoc">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                aria-current="page"
                                href="#"
                                @click="setRoutes(api)"
                                :class="{'active' : version === api.api}"
                            >{{ api.api }}</a>
                        </li>
                    </template>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-outline-light" @click="headersShow = !headersShow">Headers</button>
                    <div class="dropdown-menu dropdown-menu-dark" :class="{show: headersShow}" style="min-width: 600px;right: 0;top: 130%;">
                        <template v-for="(config, key) in configHeaders">
                            <div class="mx-3 my-3">
                                <label class="form-label">{{ key }}</label>
                                <input class="form-control" :placeholder="config.placeholder" v-model="headers[key]">
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid main-container">
            <div class="row h-100">
                <nav class="col-md-4 col-lg-3 pt-2">
                    <div>
                        <template v-if="routes && routes.length">
                            <div class="ms-2 h4">Routes</div>
                            <Routes
                                :group="group"
                                :routes="routes"
                                :route="route"
                                @setGroup="setGroup"
                                @setUrl="setUrl"
                            ></Routes>
                        </template>
                        <template v-if="version === 'models'">
                            <div class="ms-2 h4 pointer" @click="setRoutes('models')">Models</div>
                            <Instances
                                :instances="instances"
                                :instance="instance"
                                @setInstance="setInstance"
                                @setRelation="setRelation"
                            ></Instances>
                        </template>
                    </div>
                </nav>
                <main class="col-md-8 ms-sm-auto col-lg-9 pt-2 main-container__body">
                    <div v-if="version === 'apidoc'">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card-text">
                                    <template v-for="docMarkdown in doc">
                                        <div v-html="getMarkdown(docMarkdown)"></div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="version === 'models' && instance">
                        <h1 class="h2 mb-4">{{ instance.title }}</h1>
                        <Instance :instance="instance" @setRelation="setRelation"></Instance>
                    </div>
                    <div v-else-if="version === 'models'">
                        <ModelMap :instances="instancesList"></ModelMap>
                    </div>
                    <div v-else-if="group" class="">
                        <h1 class="h2 mb-4">{{ group.title }}</h1>
                        <template v-for="(routesRoute, routeI) in group.routes">
                           <Route
                               :group="group"
                               :routes-route="routesRoute"
                               :config-headers="configHeaders"
                               :headers="headers"
                               :routeI="routeI"
                               @setUrl="setUrl"
                           ></Route>
                        </template>
                    </div>

                </main>
            </div>
        </div>
    </div>

</template>

<script>
import Showdown from 'showdown'
import Route from './Route'
import Routes from './Routes'
import Instance from './Instance'
import Instances from './Instances'
import ModelMap from './ModelMap'

export default {
    name: "ApiDoc",
    components: {Route, Routes, Instance, Instances, ModelMap},
    data(){
        return {
            apidoc: {},
            doc: [],
            configHeaders: {},
            routes: [],
            group: null,
            route: null,
            headers: {},
            version: null,
            instances: [],
            instancesList: [],
            instance: null,
            headersShow: false
        }
    },
    watch:{
        headers: {
            handler(value){
                if(value){
                    localStorage.setItem('apidocHeaders', JSON.stringify(value));
                }else{
                    localStorage.removeItem('apidocHeaders');
                }
            },
            deep: true
        },
    },
    methods:{
        getMarkdown(text){
            let converter = new Showdown.Converter()
            return converter.makeHtml(text)
        },
        setJson(e, routeI, name, paramI){
            try {
                if(!e.target.value){
                    this.group.routes[routeI].query.params[name] = null
                }else{
                    this.group.routes[routeI].query.params[name] = JSON.parse(e.target.value);
                }
                this.group.routes[routeI].params[paramI].invalid = false
            } catch (e) {
                this.group.routes[routeI].params[paramI].invalid = true
            }
        },
        setUrl(name) {
            this.route = name
            this.initUrl({version: this.version, group: this.group ? this.group.group : '', route: name})
            this.$nextTick(() => {
                this.scrollRoute()
            })
        },
        setGroup(group){
            this.instance = null
            this.group = group
            this.initUrl({version: this.version, group: this.group ? this.group.group : ''})
        },
        setRoutes(version){
            this.instance = null
            this.routes = null
            this.version = null
            this.group = null
            if(!version) {
                this.version = null
                this.routes = null
                this.initUrl({})
                this.group = null
            }else if(_.isObject(version)){
                this.version = version.api
                this.initUrl({version: this.version})
                this.routes = version.routes
                if(this.routes.length){
                    this.group = this.routes[0]
                }
            }else if(_.isString(version)){
                this.version = version
                this.routes = []
                this.group = []
                this.initUrl({version: version})
            }

        },
        setInstance(instance){
            if(instance){
                this.group = null
                this.instance = _.clone(instance)
                this.initUrl({version: 'models', instance: instance.slug})
            }
        },
        setRelation(relation){
            let recursive = function(instances, slug){
                let response = null;
                _.each(instances, (item) => {
                    if(item.type === 'instance' && item.slug === slug){
                        response = item;
                    }
                    if(item.type === 'group'){
                        let responseRecursive = recursive(item.children, slug)
                        if(responseRecursive){
                            response = responseRecursive
                        }
                    }
                })
                return response;
            }
            this.setInstance(recursive(this.instances, relation))
        },
        initUrl(params){
            let queryString = Object.keys(params).map((key) => {
                if(!params[key]) return null
                return encodeURIComponent(key) + '=' + encodeURIComponent(params[key])
            }).filter(el => el !== null).join('&');
            window.history.pushState(null, null, '/apidoc?' + queryString);
        },
        scrollRoute(){
            setTimeout(() => {
                let query = new URLSearchParams(window.location.search)
                if(query.get('route')){
                    let route = document.getElementById(query.get('route'));
                    if(route){
                        route.scrollIntoView();
                    }
                }
            }, 300)
        }
    },
    created() {
        let headers = localStorage.getItem('apidocHeaders');
        if(headers){
            this.headers = JSON.parse(headers)
        }
    },
    mounted() {
        this.apidoc = apidoc
        this.doc = doc
        this.instances = instances
        this.instancesList = instancesList
        this.configHeaders = configHeaders
        let query = new URLSearchParams(window.location.search)
        if(this.apidoc.length){
            this.version = query.get('version') || this.apidoc[0].api
            let version = _.find(this.apidoc, {api: this.version})
            if(version){
                this.routes = version.routes
            }else if(!this.version){
                this.version = this.apidoc[0].api
                this.routes = this.apidoc[0].routes
            }
        }
        if(this.routes.length){
            let group = _.find(this.routes, {group: query.get('group')})
            this.group = group || this.routes[0]
            if(this.group){
                this.route = query.get('route')
            }
        }

        if(this.version !== query.get('version') || this.group?.group !== query.get('group')){
            this.initUrl({version: this.version, group: this.group ? this.group.group : ''})
        }else{
           this.scrollRoute()
        }
    }
}
</script>

<style lang="scss">

</style>
