<template>
    <ul class="nav flex-column">
        <template v-for="modelInstance in instances">
            <li v-if="modelInstance.type === 'instance'" class="nav-item">
                <a class="nav-link" :class="{active: modelInstance.slug === instance?.slug}" aria-current="page"
                   href="#" @click="$emit('setInstance', modelInstance)">
                    <span data-feather="home" class="align-text-bottom">{{ modelInstance.title }}</span>
                </a>
            </li>
            <li v-if="modelInstance.type === 'group'" class="nav-item">
                <a class="nav-link" :class="{active: modelInstance.slug === instance?.slug}" aria-current="page" @click="opened(modelInstance.slug)"
                   href="#">
                    <span data-feather="home" class="align-text-bottom">{{ modelInstance.title }}</span>
                </a>
                <div v-show="isOpen.indexOf(modelInstance.slug) !== -1" class="ms-2">
                    <Instances
                        :instances="modelInstance.children"
                        :instance="instance"
                        @setInstance="(modelInstance) => this.$emit('setInstance', modelInstance)"
                        @open="open(modelInstance.slug)"
                    ></Instances>
                </div>
            </li>
        </template>
    </ul>
</template>

<script>

export default {
    name: "Instances",
    props:{
        instances: {
            type: Array,
            required: true
        },
        instance: {
            type: Object,
            required: false,
            default: () => {}
        }
    },
    data(){
        return {
            isOpen: []
        }
    },
    watch:{
        instance(value){
            if(_.find(this.instances, {slug: value?.slug})){
                this.$emit('open')
            }
        }
    },
    methods:{
        opened(slug){
            if(this.isOpen.indexOf(slug) !== -1){
                this.isOpen.splice(this.isOpen.indexOf(slug), 1)
            }else{
                this.isOpen.push(slug)
            }
        },
        open(slug){
            this.isOpen = [slug]
            this.$emit('open')
        }
    },

}
</script>

<style scoped>

</style>
