<template>
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title">
                <div>{{ instance.slug }}</div>
                <div class="text-muted mt-1" v-if="instance.description">{{ instance.description }}</div>
            </div>
            <hr>
            <div class="card-text">
                <template v-for="field in instance.fields">
                    <div class="row mb-2">
                        <div class="col-1 text-muted">{{ field.type }}</div>
                        <a v-if="field.relation" href="#" class="col-3 text-muted h5"
                           @click="$emit('setRelation', field.relation)">{{ field.name }}</a>
                        <div v-else class="col-3 text-muted h5">{{ field.name }}</div>
                        <div class="col-7">{{ field.description }}</div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Instance",
    props: {
        instance: {
            type: Object,
            required: true
        }
    }
}
</script>

<style scoped>

</style>
