<template>
    <div class="row">
        <template v-for="instance in modelList">
            <div :ref="'ref_instance_' + instance.slug" class="col col-3 mb-2">
                <div class="card">
                    <div class="pt-1 px-2">
                        <div class="card-title h5 text-truncate" :title="instance.title">
                            {{ instance.title }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush field-list">
                        <template v-for="field in instance.fields">
                            <li class="list-group-item" :title="field.description">{{ field.name}}</li>
                        </template>
                    </ul>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
export default {
    name: "ModelMap",
    props: {
        instances: {
            type: Array,
            default: () => []
        }
    },
    data() {
        return {}
    },
    components: { },
    computed: {
        modelList(){
            let instances = _.cloneDeep(this.instances)
            return instances
        }
    },
    watch: {

    },
    methods: {

    },
    mounted() {

    }

}
</script>

<style scoped>
    .field-list{
        display: block;
        height: 300px;
        overflow-y: scroll;
    }
</style>
