<template>
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title">
                <div v-if="routesRoute.description" class="text-muted mb-1">{{ routesRoute.description }}</div>
                <div class="row align-items-center">
                    <div class="col-md">
                        <div class="d-inline-block text-muted h6">{{ routesRoute.method }}</div>
                        <div :id="routesRoute.name" class="d-inline-block h6 ms-2" style="cursor:pointer" @click="$emit('setUrl', routesRoute.name)">{{ routesRoute.url }}</div>
                    </div>
                    <div class="col-md-auto" v-if="routesRoute.result.status">
                        <button class="btn btn-warning btn-sm" @click="group.routes[routeI].result.status = null">Скрыть</button>
                    </div>
                    <div class="col-md-auto">
                        <button class="btn btn-primary btn-sm" @click="query(group.routes[routeI])">Выполнить</button>
                    </div>
                </div>
            </div>
            <div class="card-text">
                <div class="mt-2 row" v-for="bind in routesRoute.binds">
                    <label class="col-sm-5 col-form-label ">
                        <span class="h5 mb-0">{{ bind }}</span>
                        <span class="badge ms-1 bg-danger" >required</span>
                    </label>
                    <div class="col-sm-7">
                        <input type="text" v-model="group.routes[routeI].query.binds[bind]" class="form-control" required>
                    </div>
                </div>

                <div class="mt-2 row" v-for="(param, paramI) in routesRoute.params">
                    <label class="col-sm-5 col-form-label d-flex align-items-center">
                        <span class=" mb-0">{{ param.name }}</span>
                        <template v-for="rule in param.rules">
                            <span class="badge ms-1" :class="'bg-' + badgeColor(rule, param.type)" >{{ rule }}</span>
                        </template>
                    </label>
                    <div class="col-sm-7">
                        <template v-if="param.type === 'array' || param.type === 'object'">
                            <JsonEditor
                                @json-change="(value) => {group.routes[routeI].query.params[param.name] = value}"
                                :name="param.name"
                                :placeholder="param.description"
                                mode="code"
                                :show-btns="false"
                                :expandedOnStart="false"
                            ></JsonEditor>
                        </template>
                        <template v-else-if="param.type === 'file'">
                            <input
                                type="file"
                                :name="param.name"
                                :placeholder="param.description"
                                @change="(e) => {this.inputfile(group.routes[routeI].query.params, param.name, e)}"
                                class="form-control"
                            >
                        </template>
                        <template v-else>
                            <input
                                type="text"
                                :name="param.name"
                                :placeholder="param.description"
                                v-model="group.routes[routeI].query.params[param.name]"
                                class="form-control"
                            >
                        </template>
                    </div>
                </div>
            </div>

        </div>
        <div :id="routesRoute.name + '-response'" v-if="group.routes[routeI].result.status" class="card-body border-top">
            <div  class="card-text">
                <div class="mb-4">
                    <div class="row">
                        <div class="col w-100">
                            <div class="text-muted h6">STATUS: {{ group.routes[routeI].result.status }}</div>
                        </div>
                    </div>
                </div>
                <div>
                    <json-viewer v-if="group.routes[routeI].result.json" :value="group.routes[routeI].result.json"></json-viewer>
                    <div v-if="group.routes[routeI].result.text" v-html="group.routes[routeI].result.text"></div>
                </div>
                <div class="row">
                    <div class="col w-100">
                    </div>
                    <div class="col col-auto">
                        <button class="btn btn-secondary btn-sm float-right" @click="up">up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import JsonEditor from './JsonEditor'
import JsonViewer from "vue-json-viewer";
export default {
  name: "Route",
    components: {JsonViewer, JsonEditor},
    props: {
        headers: {
            type: Object,
            required: true
        },
        configHeaders: {
            type: Object,
            required: true
        },
        routeI: {
            type: Number,
            required: true
        },
        routesRoute: {
            type: Object,
            required: true
        },
        group: {
            type: Object,
            required: true
        }
    },
    methods:{
        badgeColor(rule, type){
            if(rule === type){
                return 'success'
            }
            switch (rule){
                case 'required':
                    return 'danger'
                default:
                    return 'info'
            }
        },
        inputfile(params, key, e){
            let file = e.target.files[0] || null
            params[key] = file
        },
        up(){
            let el = document.getElementById(this.routesRoute.name);
            if(el){
                el.scrollIntoView();
            }
        },
        query(route){
            let url = JSON.parse(JSON.stringify(route.url))
            route.binds.forEach((str) => {
                url = url.replace('{' + str + '}',  route.query.binds[str])
            })
            let headers = {}
            let data = {
                method: route.method,
                url: url
            }

            let hasFile = _.some(_.values(route.query.params), (item) => {
                return item instanceof File
            })

            if(route.method === 'GET'){
                data.params = route.query.params
            }else if(hasFile){
                headers[ 'Content-Type'] = 'multipart/form-data'
                let formData = new FormData();
                formData.append('MAX_FILE_SIZE', 20480000);
                Object.keys(route.query.params).map((key) => {
                    formData.append(key, route.query.params[key]);
                })
                data.data = formData
            }else{
                headers[ 'Content-Type'] = 'application/json'
                let formData = {}
                Object.keys(route.query.params).map((key) => {
                    formData[key] = route.query.params[key];
                })
                data.data = formData
            }
            Object.keys(this.configHeaders).forEach((key) => {
                if(this.headers[key]){
                    let value = ''
                    if(this.configHeaders[key].prefix){
                        value = value + this.configHeaders[key].prefix
                    }
                    value = value + this.headers[key]
                    headers[key] = value
                }
            });
            data.headers = headers
            axios.request(data)
                .then((response) => {
                    route.result.status = response.status
                    if(response.headers['content-type'] === "application/json"){
                        route.result.text = ''
                        route.result.json = response.data
                    }else{
                        route.result.text = response.data
                        route.result.json = ''
                    }
                })
                .catch((error) => {
                    route.result.status = error.response.status
                    if(error.response.headers['content-type'] === "application/json"){
                        route.result.text = ''
                        route.result.json = error.response.data
                    }else{
                        route.result.text = error.response.data
                        route.result.json = ''
                    }
                })
                .finally(() => {
                    setTimeout(() => {
                        let el = document.getElementById(this.routesRoute.name + '-response');
                        if(el){
                            el.scrollIntoView();
                        }
                    }, 300)
                })
        },
    }
}
</script>

<style scoped>

</style>
