<template>
    <ul class="nav flex-column">
        <template v-for="groupRoute in routes">
            <li class="nav-item">
                <a class="nav-link" :class="{active: groupRoute.group === group?.group}" href="#" @click="$emit('setGroup', groupRoute)">
                    <span class="align-text-bottom">{{ groupRoute.title }}</span>
                </a>
                <ul v-show="groupRoute.group === group?.group" class="nav flex-column ms-2">
                    <template v-for="routesRoute in groupRoute.routes">
                        <li class="nav-item">
                            <a class="nav-link" :class="{active: routesRoute.name === route}" href="#" @click="$emit('setUrl', routesRoute.name)">
                                <small data-feather="home" class="align-text-bottom">{{ routesRoute.description ?? routesRoute.uri }}</small>
                            </a>
                        </li>
                    </template>
                </ul>
            </li>
        </template>
    </ul>
</template>

<script>
export default {
  name: "Routes",
    props:{
        group:{
            required: false,
            default: () => null
        },
        routes: {
            type: Array,
            required: true
        },
        route: {
            required: false,
            default: () => null
        }
    }
}
</script>

<style scoped>

</style>
